.header-title {
  font-size: 1rem; 
  font-weight: bold; 
  color: #fff; 
  margin-left: 10px; 
  text-transform: uppercase; 
  font-family: 'Playfair Display', serif; 
}

header {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff !important;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-img {
  width: 70px;
  height: auto;
  margin: 0 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.1);
  border-color: #ff4d4d;
}

.nav-link {
  color: #fff !important; 
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
  transition: color 0.3s, background-color 0.3s;
  border: 2px solid transparent;
  border-radius: 5px;
}

.nav-link:hover {
  color: #ff4d4d !important; 
  border-color: #ff4d4d;
}

.nav-link.link-secondary {
  color: #bbb !important; 
}

.nav-link.link-dark {
  color: #fff !important;
}
