.inventory-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.inventory-title {
  text-align: center;
  font-size: 2.5em;
  color: #b30000; 
  font-family: "Dancing Script", cursive; 
  margin-bottom: 20px;
}


.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

.category-buttons .btn-outline-primary {
  border: 2px solid #b30000;
  color: #b30000;
  padding: 10px 15px;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 30px;
  background: none;
}

.btn-outline-primary.active {
  background-color: #b30000;
  color: white;
  border-color: #b30000;
}

.category-buttons .btn-outline-primary:hover {
  background-color: #b30000;
  color: #fff;
  transform: scale(1.05);
}


.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  width: 60%;
  padding: 12px 15px;
  font-size: 1.1em;
  border: 2px solid #d3d3d3;
  border-radius: 30px;
  outline: none;
  background: #f9f9f9;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #b30000;
  background: #fff;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  gap: 25px;
}

.product-card {
  border: 2px solid #d3d3d3;
  border-radius: 15px;
  padding: 20px;
  background: linear-gradient(145deg, #fff, #f0f0f0);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card:hover {
  box-shadow: 0px 8px 20px rgba(179, 0, 0, 0.3);
  transform: translateY(-5px);
}

.product-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #b30000;
  margin-bottom: 10px;
  text-align: center;
}

.product-detail {
  font-size: 1em;
  color: #555;
  text-align: center;
  margin-bottom: 15px;
}

.product-card button {
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background: #b30000;
  transition: background 0.3s ease, transform 0.2s ease;
}

.product-card button:hover {
  background: #8b0000;
  transform: scale(1.1);
}


.no-products-message {
  text-align: center;
  font-size: 1.5em;
  color: #888;
  font-style: italic;
}

.btn-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#b30000;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-upload:hover {
  background-color:#8b0000;
  color: white;
}

input[type="file"] {
  margin-bottom: 0;
}