.reports-page {
  display: flex;
  font-size: 2.5em;
  color: #b30000;
  font-family: "Dancing Script", cursive; 
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.buttons-container {
    display: flex;
    gap: 25px; 
    margin-top: 30px;
}

.report-button {
    padding: 15px 25px;
    font-size: 18px; 
    background-color: #ff5c5c; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Dancing Script', cursive; 
}

.report-button:hover {
    background-color: #e04e4e;
    transform: scale(1.05); 
}
